@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.bg-default {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(39, 161, 9) 0%,
    rgb(27, 215, 68) 35%,
    rgb(0, 255, 85) 100%
  );
}
